<!DOCTYPE html>
<html class="h-100" lang="uk">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
        <title>WBC 404</title>
        <script src="/test-app/vendor/components/jquery/jquery.min.js"></script>
		<link href="/test-app/vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
		<script src="/test-app/vendor/components/jqueryui/jquery-ui.min.js"></script>
		<link href="/test-app/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="/test-app/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
    	<div class="container justify-content-center">
		    <div class="container">
		        <div class="row justify-content-center">
		            <div class="bg-light shadow-sm" style="width:450px; margin-top:20px;padding:10px;">

						<p>Ups... 404. Is request correct?</p>
		                		
		            </div>
		        </div>
		    </div>
		</div>
		<script>
		</script>
    </body>
</html>
